---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Panel from '@/components/Panel.astro'
import SummaryCard from '@/components/SummaryCard.astro'

import { getCollection } from 'astro:content'
import Banner from '@/components/Banner.astro'

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<BaseLayout>
  <div class="min-h-screen flex flex-col">
    <Banner title="文章列表" />
    <div class="flex flex-row justify-center gap-6 px-4 py-8 max-w-7xl mx-auto flex-grow">
      <div class="w-full">
        <Panel>
          <div class="flex flex-col gap-6 p-6 md:p-8">
            {
              posts.map((post) => (
                <SummaryCard
                  title={post.data.title}
                  id={post.id}
                  cover={post.data.heroImage}
                  summary={post.data.description}
                  date={post.data.pubDate}
                />
              ))
            }
          </div>
        </Panel>
      </div>
    </div>
  </div>
</BaseLayout>
